.App {
  text-align: center;
}

.main_div{
margin: 100px;
display: flex;
justify-content: center;
border: 1px solid red;
height: 300px;
width: 400px;
border-radius: 20px;
background-color: lightpink;
}

/* .center_div{

align-items: center;
align-content: center;
justify-content: center;
} */

h1{
text-align: center;
  padding: 20px;
  font-size: 40px;

}

.btn_div{
  display: flex;
  gap: 120px;
}

button{
  font-size: 20px;
  border-radius: 5px;
  background-color: aquamarine;
}